 <div class="card">
    <%= link_to image_tag(post.image.variant(resize: '292x175'), class: :card__img ), post_path(post.id) if post.image.attached?%>
    <div class="card__body">
      <%= link_to post.title, post_path(post.id), class: :card__title%>
      <p class="card__summary">
        <%= post.lead_text %>
      </p>
      <div id="likes_buttons_<%= post.id %>">
        <%= render partial: 'likes/like', locals: {post: post} %>
      </div>
      <%= link_to "by #{post.user.nickname}", root_path, class: :card__user %>
    </div>
</div>