<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.title %>
      </p>
      <% if user_signed_in? && current_user.admin? %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path, class: :prototype__btn %>
          <%= link_to "削除する", post_path, class: :prototype__btn, method: :delete%>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @post.image, class: "show_image" %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">記事</p>
        </div>
      </div>

      <div class="detail__message">
        <%= @post.text %>
      </div>
      
      <% if user_signed_in? %>
        <div class="prototype__comments">
            <%= form_with model:[@post, @comment],local: true do |f|%>
              <div class="field">
                <%= f.label :comment_text, "コメント" %><br />
                <%= f.text_field :comment_text, id:"comment_txt" %>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: :form__btn  %>
              </div>
            <% end %> 

          <ul class="comments_lists" id="comments" >
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.comment_text %>
                <%= link_to comment.user.nickname, root_path, class: :comment_user %>
                <%= comment.created_at %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</main>
